.main-container{
  width: auto;
  margin: 0 150px;
}

.prime-member{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.btn-design{
  position: relative;
  z-index: 10;
}

.regular-btn{
  position: relative;
  border: 1px solid orangered;
  background-color: rgb(255, 228, 218);
  border-radius: 25px;
  padding: 2px 5px;
  width: 120px;
  height: 37px;
  font-size: 14px;
  color: orangered;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.prime-btn{
  position: absolute;
  left: 95px;
  border: none;
  background-color: rgba(255, 255, 255);
  border-radius: 25px;
  padding: 2px 5px;
  width: 120px;
  height: 37px;
  font-size: 14px;
  font-weight: 550;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}


.main-content{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* border: 1px solid black; */
  /* background-color: lightskyblue; */
}

.sidebar{
  width: 300px;
  height: auto;
}

.content{
  margin-left: 3px;
  flex: 1;
  background-color: white;
}

.generic-content, .generic-content2{
  padding-top: 10px;
  margin-left: 20px;
}

.generic-content2{
  margin-top: 30px;
  /* padding-top: 30px; */
}

.matches{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}

.matches-img{
  width: 190px;
  height: 190px;
  border-radius: 10px;
}

.single-match{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.all-matches{
  font-weight: bold;
}

.all-matches-descr{
  padding-top: 5px;
  font-size: 14px;
  padding-bottom: 10px;
}

.match-name{
  font-size: 15px;
  font-weight: bold;
}

.match-age{
  font-size: 12px;
}


@media (min-width: 1200px) and (max-width: 1400px){
  .main-container{
    margin: 0 50px;
  }

  .header{
    margin: 0 50px;
  }
}