.navbar{
  align-content: center;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  height: 60px;
  border: none;
}

.navbar a{
  text-decoration: none;
  margin-left: 30px;
  color: grey;
  cursor: pointer;
}
