.main-title, .main-title2{
  color: orangered;
  font-weight: bold;
  font-size: 22px;
  margin: 0px;
  margin-bottom: 20px;
}

.leave-info{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}

.icon-box{
  display: flex;
  height: 80px;
  width: 350px;
  gap: 10px;
  align-items: center;
  /* white-space: nowrap; */
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  /* padding-right: 10px; */
  border: 1px solid black;
  justify-content: space-evenly;
  transition: background-color 0.15s, border-color 0.15s, border-right-color 0.15s, border-left-color 0.15s;
  box-sizing: border-box; /* Include borders in dimensions */
}

.icon-box:hover{
  /* background-color: orangered;
  color: white;
  border: 0px;
  border-right: 3px solid orangered; */

  background-color: orangered;
  color: white;
  border-right: 3px solid orangered; /* Change right border width and color on hover */
  border-color: orangered; /* Update other borders' color */
}

.icon-box:hover .balance{
  /* color: orangered;
  border-left: 0px;
  background-color: white; */
  border-left-color: transparent;
  color: orangered;
  background-color: white;
  
}

.logo2{
  width: 40px;
  height: 40px;
  /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
  /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(15deg) brightness(118%) contrast(119%); */
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(10deg) brightness(118%) contrast(119%);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
}

.leave-name{
width: 200px;

}

.balance{
  flex: 1;
  border-left: 1px solid black;
  text-align: center;
  padding: 25px 3px 25px 3px;
  margin: 0px;
  font-weight: bold;
  font-size: 20px;
}

.main-title2{
  margin-top: 30px;
}


.legends{
  display: flex;
  justify-content: start;
  align-items: center;
}

.blue, .green, .yellow, .orange, .grey{
  width: 20px;
  height: 20px;
  background-color: brown;
  margin-right: 10px;
}

.blue{
  background-color: rgb(6, 69, 216);
}

.green{
  background-color: rgb(0, 171, 74);
}

.yellow{
  background-color: rgb(234, 234, 0);
}

.orange{
  background-color: orangered;
}

.grey{
  background-color: grey;
}

.legends p{
  font-size: 15px;
  margin-right: 20px;
}

.calendar{
  display: flex;
  margin-top: 20px;
  gap: 50px;
  justify-content: center;
  
}

.cal{
  width: 450px;
  height: 270px;
  background-color: rgb(209, 209, 209);
  border-radius: 20px;
}

@media(min-width: 1200px) and (max-width: 1299px){
  .icon-box{
    display: flex;
    height: 80px;
    width: 250px;
    gap: 10px;
    align-items: center;
    /* white-space: nowrap; */
    /* background-color: rgb(255, 255, 255); */
    background-color: white;
    padding-left: 10px;
    /* padding-right: 10px; */
    border: 1px solid black;
    justify-content: space-evenly;
    transition: background-color 0.15s;
  }

  .leave-name{
    width: 120px;
    }
}

/* @media(min-width: 1300px) and (max-width: 2783px){
  .icon-box{
    display: flex;
    height: 80px;
    width: 300px;
    gap: 10px;
    align-items: center;
    /* white-space: nowrap; */
    /* background-color: rgb(255, 255, 255); */
    background-color: white;
    padding-left: 10px;
    /* padding-right: 10px; */
    border: 1px solid black;
    justify-content: space-evenly;
    transition: background-color 0.15s;
  }

  .leave-name{
    width: 170px;
    }
} */

/* @media(min-width: 2784px) and (max-width: 4960px){
  .icon-box{
    display: flex;
    height: 200px;
    width: 1200px;
    gap: 10px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    border: 1px solid black;
    justify-content: space-evenly;
    transition: background-color 0.15s;
  }

  .logo2{
    width: 150px;
    height: 150px;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(10deg) brightness(118%) contrast(119%);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100px;
  }
  
  .leave-name{
  width: 800px;
  font-size: 50px;
  margin-left: 50px;
  }
  
  .balance{
    flex: 1;
    border-left: 1px solid black;
    text-align: center;
    padding: 25px 3px 25px 3px;
    margin: 0px;
    font-weight: bold;
    font-size: 50px;
  }

} */

