.main-title{
  color: orangered;
  font-weight: bold;
  font-size: 22px;
  margin: 0px;
  margin-bottom: 20px;
}

.leave-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}

.icon-box{
  display: flex;
  height: 70px;
  width: 300px;
  gap: 10px;
  align-items: center;
  /* white-space: nowrap; */
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  /* padding-right: 10px; */
  border: 1px solid black;
  justify-content: space-evenly;
}

.logo2{
  width: 40px;
  height: 40px;
  /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
  /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(15deg) brightness(118%) contrast(119%); */
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(10deg) brightness(118%) contrast(119%);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 30px;
}

.leave-name{
width: 170px;
}

.balance{
  flex: 1;
  border-left: 1px solid black;
  text-align: center;
  padding: 24px 3px 24px 3px;
  margin: 0px;
  font-weight: bold;
  font-size: 20px;
}